main{
    
    width: 100%;
}

.container{
    background-color: white;
    width: 30%;
    height: fit-content;
    padding: 30px;
}
form{
    display: flex;
    flex-direction: column;
gap: 30px;
}
button{
  border: none;
  height: 32px;
  background-color: rgb(238, 73, 73);
  cursor: pointer;
  color: wheat;
  font-size: 15px;
}
input{
    padding-left: 9px;
    height: 40px;
    border-radius: 8px;
    font-size: 17px;
}
.section{
    margin: 10px;
    display: flex;
    background-color: white;
    border: 1px solid rgb(112, 109, 109);
    height: fit-content;
    justify-content: space-between;
    padding: 10px;
    margin-left: 100px;
    border-radius: 6px;
}

@media only screen and (max-width: 480px) {
    .flex{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .container{
        width: 78%;
    }
    .section{
        margin-left: 0px;
        width: 80vw;
    }
    h1{
        font-size: 6vw;
        margin-top: 32px;
    }
}

