@import url('https://fonts.googleapis.com/css2?family=Ojuju:wght@200..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
body{
margin: 0;
background-image: linear-gradient(#ee9ca7,#ffdde1);
height: 100vh;
background-repeat: no-repeat;
font-family: "Open Sans", sans-serif;


}