.aside{
    height: fit-content;
    padding-top: 10px;
}
.nav{
    background-color: white;
    margin-left: 20px;
    border: 1px solid rgb(166, 162, 162);
    border-radius: 10px;
    width: 250px;
    font-size: 18px;
    padding-top: 20px;
    margin-top: 14px;
}
.header{
    display: flex;
    align-items: center;
}
.header img{
    height: 70px;
    
}
ul{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: 200px;
    
}
li{
    list-style-type: none;
}
li a{
    text-decoration: none;
    color: black;
}

.dashboard{
    display: flex;
    padding: 10px;
    gap: 20px;
    height: fit-content;
    width: fit-content;
}
.chart{
    width: 709px;
    
}
.ham{
    position: absolute;
    display: none;
}


@media only screen and (max-width: 480px) {
   
    .aside{
        display: none;
        position: absolute;
        transition: 11s ease-out;
    }
    .nav{
        width: 219px;
    }
    .aside .nav ul{
        height: 139px;
    }
  .ham{
    display: block;
    font-weight: bold;
    padding: 5px;
    cursor: pointer;
    color: indianred;
  }
    .dashboard{
        flex-direction: column;
    }
    .chart{
        width: 95vw;
       
    }
}