.aside{
    height: fit-content;
    padding-top: 10px;
}
.nav{
    background-color: white;
    margin-left: 20px;
    border: 1px solid rgb(166, 162, 162);
    border-radius: 10px;
    width: 250px;
    font-size: 18px;
    padding-top: 20px;
    margin-top: 14px;
}
.header{
    display: flex;
    align-items: center;
}
.header img{
    height: 70px;
    
}
ul{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: 200px;
    
}
li{
    list-style-type: none;
}
li a{
    text-decoration: none;
    color: black;
}

.dashboard{
    display: flex;
    padding: 10px;
    gap: 20px;
    height: fit-content;
    width: fit-content;
}
.chart{
    width: 709px;
    
}

@media only screen and (max-width: 480px) {
    .aside{
        display: none;
    }
    .dashboard{
        flex-direction: column;
    }
    .chart{
        width: 95vw;
       
    }
}